{% extends 'user/base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="left" id="panel">
        <div class="upper">
        </div>
        {% include 'user/partials/flash_messages.html.twig' %}
        <div class="form">
            <form action="{{ path('login') }}" method="post">
                <div class="form-row">
                    <label for="username">{% trans %}label.login{% endtrans %}</label>
                    <input type="text" class="input_register" id="username" name="_username"
                           value="{{ last_username }}"/>
                    {% if error %}
                        <span class="form-error">{{ error.messageKey|trans(error.messageData, 'security')|nl2br }}</span>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="form-row">
                    <label for="password">{% trans %}label.password{% endtrans %}</label>
                    <input type="password" class="input_register" id="password" name="_password"/>
                </div>
                <p><input type="submit" value="" name="" class="button_send"/></p>
            </form>
        </div>
    </div>
{% endblock %}