{% extends 'admin/base.html.twig' %}
{% block header %}{% trans %}support{% endtrans %}{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-6" style="max-width: 100%">
                        <div class="card">
                            <div class="card-title">
                                <h4>{{ ticket.title }}</h4>
                            </div>
                            <div class="recent-comment">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ ticket.author }}</h4>
                                        <p>{{ ticket.content|nl2br }}</p>
                                        <p class="comment-date">{{ ticket.createdAt|date('Y-m-d H:i:s') }}</p>
                                    </div>
                                </div>
                                {% for answer in ticket.getAnswers %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ answer.isAdminAnswer ? 'Odpowiedz administratora' : ticket.author}}</h4>
                                            <p>{{ answer.content|raw|nl2br }}</p>
                                            <p class="comment-date">2018</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="form-validation">
                        {% include 'admin/support/_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/html5-editor/wysihtml5-0.3.0.js') }}"></script>
    <script src="{{ asset('admin/js/lib/html5-editor/bootstrap-wysihtml5.js') }}"></script>
    <script src="{{ asset('admin/js/lib/html5-editor/wysihtml5-init.js') }}"></script>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/css/lib/html5-editor/bootstrap-wysihtml5.css') }}"/>
{% endblock %}
