{% extends 'user/ranking/index.html.twig' %}
{% block ranking_header %}
    {{ parent() }}
    {% include 'user/ranking/form/_search.html.twig' with {'action_path' : path('ranking_guild_search')} %}
{% endblock %}
{% block ranking_content %}
    <div class="lower">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th class="rank">
                    {% trans %}ranking{% endtrans %}
                </th>
                <th class="player">
                    {% trans %}ranking.guild.name{% endtrans %}
                </th>
                <th class="rank">
                    {% trans %}ranking.guild.wins{% endtrans %}
                </th>
                <th class="rank">
                    {% trans %}ranking.guild.loses{% endtrans %}
                </th>
                <th class="kingdom">
                    {% trans %}ranking.guild.kingdom{% endtrans %}
                </th>
                <th class="lvl">
                    {% trans %}ranking.guild.points{% endtrans %}
                </th>
            </tr>

            {% set lp = 1 + 25*(guilds.getCurrentPage-1) %}
            {% for guild in guilds %}
                <tr>
                    <td class="rank">
                        {{ lp }}
                    </td>
                    <td class="player">
                        {{ guild.name }}
                    </td>
                    <td class="rank">
                        {{ guild.wins }}
                    </td>
                    <td class="rank">
                        {{ guild.loses }}
                    </td>
                    <td class="kingdom">
                        <img src="{{ guild.kingdom|kingdom }}" alt=""/>
                    </td>
                    <td class="lvl">
                        {{ guild.points }}
                    </td>
                </tr>
                {% set lp = lp +1 %}
            {% endfor %}
        </table>
        {% if guilds.haveToPaginate %}
            <div class="rank-pagination">
                {{ pagerfanta(guilds, 'twitter_bootstrap3_translated', {routeName: 'ranking_guilds'}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/ranking_guilds.jquery.js') }}"></script>
{% endblock %}