<table class="players" cellpadding="0" cellspacing="0">
    <tr>
        <th class="num">
            Lp.
        </th>
        <th class="nick">
            Nick
        </th>
        <th class="lvl">
            lvl
        </th>
    </tr>
    {% set lp = 1 %}
    {% for player in players %}
        <tr>
            <td class="num">
                {{ lp }}
            </td>
            <td class="nick">
                {{ player.name }}
            </td>
            <td class="lvl">
                {{ player.level }}
            </td>
        </tr>
        {% set lp = lp+1 %}
    {% endfor %}
</table>
<table class="guilds" cellpadding="0" cellspacing="0">
    <tr>
        <th class="num">
            Lp.
        </th>
        <th class="nick">
            Nazwa
        </th>
        <th class="lvl">
            Punkty
        </th>
    </tr>
    {% set lp = 1 %}
    {% for guild in guilds %}
        <tr>
            <td class="num">
                {{ lp }}
            </td>
            <td class="nick">
                {{ guild.name }}
            </td>
            <td class="lvl">
                {{ guild.points }}
            </td>
        </tr>
        {% set lp = lp+1 %}
    {% endfor %}
</table>