<a href="{{ path('shop_category_index') }}">Kategorie</a>
<a href="{{ path('shop_product_index') }}">Produkty</a>
<a href="{{ path('article_index') }}">Artykuły</a>
<a href="{{ path('admin_support_index') }}">Support (zgloszenia)</a>
<a href="{{ path('ticket_category_index') }}">Support (kategorie)</a>
