{% extends 'user/panel/index.html.twig' %}
{% block panel_content %}
    <div class="form">
        {{ form_start(change_password_form) }}
        <div class="form-row">
            {{ form_label(change_password_form.oldPassword) }}
            {{ form_widget(change_password_form.oldPassword, { 'attr' : { 'class' : 'input_register' } }) }}
            {% if form_errors(change_password_form.oldPassword) %}
                <span class="form-error">{{ form_errors(change_password_form.oldPassword) }}</span>
            {% endif %}
        </div>
        <div class="form-row">
            {{ form_label(change_password_form.newPassword.first) }}
            {{ form_widget(change_password_form.newPassword.first, { 'attr' : { 'class' : 'input_register' } }) }}
            {% if form_errors(change_password_form.newPassword.first) %}
                <span class="form-error">{{ form_errors(change_password_form.newPassword.first) }}</span>
            {% endif %}
        </div>
        <div class="form-row">
            {{ form_label(change_password_form.newPassword.second) }}
            {{ form_widget(change_password_form.newPassword.second, { 'attr' : { 'class' : 'input_register' } }) }}
            {% if form_errors(change_password_form.newPassword.second) %}
                <span class="form-error">{{ form_errors(change_password_form.newPassword.second) }}</span>
            {% endif %}
        </div>
        <p><input type="submit" value="" name="" class="button_send"/></p>
        {{ form_end(change_password_form) }}
    </div>
{% endblock %}