<div class="form">
    {{ form_start(form) }}
    <div class="form-row">
        {{ form_label(form.promotion_code) }}
        {{ form_widget(form.promotion_code, { 'attr' : { 'class' : 'input_register' } }) }}
        {% if form_errors(form.promotion_code) %}
            <span class="form-error">{{ form_errors(form.promotion_code) }}</span>
        {% endif %}
    </div>
    <p><input type="submit" value="" name="" class="button_send"/></p>
    {{ form_end(form) }}
</div>