{% extends 'admin/base.html.twig' %}
{% block header %}{% trans %}articles{% endtrans %}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{% trans %}articles.title{% endtrans %}</th>
                        <th>{% trans %}articles.content{% endtrans %}</th>
                        <th>{% trans %}articles.author{% endtrans %}</th>
                        <th>{% trans %}articles.createdAt{% endtrans %}</th>
                        <th>{% trans %}articles.manage{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            {% if article.content|length  < 50 %}
                                <td>{{ article.content }}</td>
                            {% else %}
                                <td>{{ article.content|slice(0, 100) }}...</td>
                            {% endif %}
                            <td>{{ article.author }}</td>
                            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/lib/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/datatables-init.js') }}"></script>
{% endblock %}