{% extends 'admin/base.html.twig' %}
{% block header %}{% trans %}articles{% endtrans %}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{% trans %}articles.title{% endtrans %}</th>
                        <th>{% trans %}articles.content{% endtrans %}</th>
                        <th>{% trans %}articles.author{% endtrans %}</th>
                        <th>{% trans %}articles.createdAt{% endtrans %}</th>
                        <th>{% trans %}articles.manage{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            {% if article.title|length  < 25 %}
                                <td>{{ article.title }}</td>
                            {% else %}
                                <td>{{ article.title|slice(0, 25) }}...</td>
                            {% endif %}
                            {% if article.content|length  < 50 %}
                                <td>{{ article.content }}</td>
                            {% else %}
                                <td>{{ article.content|slice(0, 100) }}...</td>
                            {% endif %}
                            <td>{{ article.author }}</td>
                            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <form method="post" style="float: left" action="{{ path('admin_article_delete', {'id': article.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                    <button class="btn">{% trans %}delete{% endtrans %}</button>
                                </form>
                                <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-info">{% trans %}edit{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/lib/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/js/lib/datatables/datatables-init.js') }}"></script>
{% endblock %}