{% extends 'user/base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="left" id="news">
        <ul data-url="{{ path('api_articles', {'start': constant('App\\Entity\\Article::ARTICLES_PER_PAGE')}) }}"
            data-articles-Per-Page="{{ constant('App\\Entity\\Article::ARTICLES_PER_PAGE') }}"
            data-count-articles="{{ countOfArticles }}">
            {% for article in articles %}
                <li id="{{ article.id }}">
                    <div class="date">
                        <p><big>{{ article.createdAt|date("d") }}</big><br/>{{ article.createdAt|date("M") }}</p>
                    </div>
                    <div class="image">
                        <div class="image_container">
                            <img src="content/thumb.png" alt=""/>
                            <div class="frame"></div>
                            <p>Autor: {{ article.author.login }}</p>
                        </div>
                    </div>
                    <div class="desc">
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.content|striptags('<a> <b> <u> <i> <ol> <ul> <li> <br>')|raw }}</p>
                        {% if article.more %}
                            <a href="{{ article.more }}" title="" class="button_more"></a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if countOfArticles > constant('App\\Entity\\Article::ARTICLES_PER_PAGE') %}
            <p class="see_more">
                <a href="" title="" class="button_see_more"></a>
            </p>
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/articles.jquery.js') }}"></script>
{% endblock %}